apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - grafana-configmap.yaml
  - namespace.yaml
  - service_account.yaml
  # - elasticsearch.yaml      
  # - grafana.yaml
  # - fluent-bit.yaml    
  # - prometheus.yaml
  - loki-stack.yaml
