apiVersion: apps/v1
kind: Deployment
metadata:
  name: chatapp
spec:

  template:
    spec:
      imagePullSecrets:
        - name: dockerhub-secret
      nodeSelector:
        nodepool-type: "spot"
        workload: "infra"
      containers:
        - name: chatapp
          image: kyczak/chatapp:latest
          resources:
            requests: 
              cpu: "300m"
              memory: "500Mi"
            limits:
              cpu: "500m"
              memory: "700Mi"v
          env:
          - name: DB_NAME
            valueFrom:
              secretKeyRef:
                name: prod-pg-cluster-app
                key: dbname
          - name: DB_USER
            valueFrom:
              secretKeyRef:
                name: prod-pg-cluster-app
                key: username
          - name: DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: prod-pg-cluster-app
                key: password
          - name: DB_HOST
            valueFrom:
              secretKeyRef:
                name: prod-pg-cluster-app
                key: host
          - name: DB_PORT
            valueFrom:
              secretKeyRef:
                name: prod-pg-cluster-app
                key: port
          - name: SECRET_KEY
            valueFrom:
              secretKeyRef:
                name: prod-django-secret-key
                key: secret