apiVersion: apps/v1
kind: Deployment
metadata:
  name: chatapp
  labels:
    app: chat
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: chat
  template:
    metadata:
      labels:
        app: chat
    spec:
      containers:
        - name: chatapp
          image: kyczak/chatapp:latest
          ports: 
          - containerPort: 8000
            name: gunicorn
          resources:
            requests: 
              cpu: "100m"
              memory: "100Mi"
            limits:
              cpu: "200m"
              memory: "150Mi"
      # volumes:
      #   - name: chatapp-cache
      #     persistentVolumeClaim:
      #       claimName: chatapp-pvc